.chef {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chef__container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chef__picture {
    width: 100%;
    height: 80%;
    
}

.chef__name {
    font-size: 1.3rem;
    font-weight: 600;
}