.dish {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.dish__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dish__pic {
    width: 100%;
    height: auto;
}

.dish__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.dish__name {
    font-size: 1.5em;
    font-weight: 500;
}

.dish__cartOpts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
