.fifth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.fifth__cont {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fifth__text {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.fifth__heading {
    font-size: 3em;
    margin-bottom: 20px;
}

.fifth__p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.fifth__button {
    background-color: yellow;
    border-radius: 20px !important;
    padding: 15px !important;
}

.fifth__img {
    width: 400px;
    height: auto;
}