.firstDiv {
    width: 100%;
    height: 60vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.firstDiv__cont {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstDiv__text {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.firstDiv__title {
    font-size: 4em;
    letter-spacing: 3px;
}

.firstDiv__p {
    font-size: 1rem;
    line-height: 1.5;
}

.firstDiv__buttons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstDiv__buttons > button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding: 5px;
}

.firstDiv__imageCont {
    width: 40%;
}

.firstDiv__pic {
    width: 100%;
    height: auto;
}

.firstDiv__foodTypesCont {
    width: 10%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    right: 10%;
    top: 0;
}