.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu__foods {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}