.review {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.review__p {
    text-align: left;
}

.review__pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.review__name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}
