.third {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.third__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third__divs {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.third__title {
    font-size: 2.5em;
    margin-bottom: 20px;
    
}

.third__p {
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 15px;
}