.header {
    width: 100%;
    height: 10vh;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__clickables {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__items {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.header__buttons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}